body {
    display: flex;
    text-align: center;
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: #fff;
    display: block;
}

button a:hover {
    text-decoration: none;
    color: #fff;
}

.btn-general {
    border-radius: 10px 0 10px 0;
}

.btn-izq {
    border-radius: 0 0 0 20px;
    width: 200px;
    text-align: start;
}

.btn-der {
    border-radius: 0 10px 0 0;
    width: 200px;
    text-align: end;
}

.info {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: justify;
}

.info img {
    width: auto;
    height: 110px;
    padding-right: 20px;
}

.row{
    flex-direction: column;
}

.div-izq {
    display: grid;
}

.div-der {
    display: grid;
}

#valor {
    border-color: black;
    font-size: 20pt;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}